# Ignore all extensionless compiled binaries (Linux/macOS)
# It ignores everything except directories and files with a suffix
*
!*/
!*.*

# Windows build artifacts
*.exe
*.pdb
*.ilk

# Common Odin compiler and LSP artifacts
*.bin
tmp.*
.odin-build/

# IDEs
.idea/
